.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #17181c;
    animation: animationBackground 1s linear infinite;
}

.loader {
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(to top, #17181c 40%, #82EF);
    border-radius: 50%;
    animation: animateRotate 2s linear infinite;
}

.loader::before{
    content: "";
    position: absolute;
    background: #17181c;
    inset: 20px 20px 0 0;
    border-radius: 50%;
}

.loader::after{
    content: "";
    position: absolute;
    top: 50px;
    right: -10px;
    width: 40px;
    height: 40px;
    background: #17181c;
    border-radius: 50%;
}

@keyframes animateRotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}