.footer {
    padding: var(--padding-mobile);
    background-color: var(--background--black);
    color: var(--color-title-text);
    width: 100%;
  }

  .footer__text {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color-white);
  }

  .redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
  }

  .redes__items {
    width: 35px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--background-white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 720px) {

    .footer {
      padding: var(--padding-tablet);
    }

    .footer__text{
      margin-bottom: 30px;
    }

  }